@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-darkgray: #3d3d3d;
  --color-off-white: #eeede5;
  --color-lightgray: #f9f9f9;

  /* Primary & Accent */
  --color-primary: #00847e;

  /* Muted Greens/Blues */
  --color-muted-100: #c5ece1;
  --color-muted-200: #a2d9ce;
  --color-muted-300: #95cec3;
  --color-muted-400: #81beb3;
}

:root {
  /* Theme Defaults */
  --background: var(--color-white);
  --foreground: var(--color-black);
  --text-primary: #000000;
}

@utility shadow-light {
  @apply shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
}
body {
  height: auto;
  overflow: hidden;
  background-color: var(--background) !important;
  color: var(--foreground) !important ;
}
